#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Forces the container to be AT LEAST the height of the screen */
  width: 100vw;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Used to set the margins to 0 and maintain overall page backgroun*/
body {
  background-color: #ffffff;
  margin: 0px;
  /* Removed the flex and height properties from here */
  overflow-x: hidden;
  overflow-y: scroll;
}
/*Used to set the max width and margin*/
main {
  margin: 0;
  max-width: 900px;
  margin-left: 20%;
  margin-right: 20%;
  flex-grow: 1;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
/*Used to center heading 1 text and change color and font*/
h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #2d4654;
  font-family: "Montserrat", "Times New Roman";
}
/*Used to center heading 2 text and change color and font*/
h2 {
  color: #2d4654;
  font-family: "Montserrat", "Times New Roman";
}
h3 {
  color: #2d4654;
  font-family: "Montserrat", "Times New Roman";
}
/*Used to center p text and change color and font*/
p {
  color: #2d4654;
  font-family: "Inter", "Times New Roman";
}

/*Set background color for navbar and decides the font also fixes the orientation*/
header nav ul {
  list-style: none;
  background-color: #2d4654;
  font-family: "Inter", "Times New Roman";
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
/*Used to change text color on the nav bar*/
header nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
/*When hovering over selectable items the elements color changes indicating selectability*/
header nav a:hover {
  background-color: #000000;
}
header nav li {
  float: left;
}
figcaption {
  color: #2d4654;
  font-style: italic;
  font-family: "Inter", "Times New Roman";
  font-weight: bold;
  margin-top: 0px;
}
/*Same as navbar above but for the contact bar
the contact bar is fixed to the bottom but besides that it is essentially the same as the nav bar*/
ul {
  color: #2d4654;
  font-family: "Inter", "Times New Roman";
}
ol {
  color: #2d4654;
  font-family: "Inter", "Times New Roman";
}
blockquote {
  color: #2d4654;
  font-style: italic;
  font-family: "Inter", "Times New Roman";
}
footer nav {
  /*position: fixed;*/
  bottom: 0px;
  left: 0px;
  width: 100%;
}
footer nav ul {
  list-style: none;
  background-color: #2d4654;
  font-family: "Inter", "Times New Roman";
  padding: 0px;
  margin: 0px;

  overflow: hidden;
}
footer nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
footer nav a:hover {
  background-color: #000000;
}
footer nav li {
  float: left;
}
